div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
}

div.pic-card {
    background: rgba(255, 255, 255, .5);
}

div.submit-card {
    background: rgba(255, 255, 255, .8);
}

img.logo {
    padding: 5%;
}

div.gap {
    height: 10vh;
}

h5.submit {
    padding: 5%;
    font-family: 'Quicksand', sans-serif;
}

p.image_caption {
    text-align: center;
}

p.image_source {
    text-align: center;
}

p.rasr_image {
    text-align: center;
}

img.rasr_image {
    height: 30%;
    width: 30%;
}

hr.image_divider {
    height: 1px;
    color: lightgray;
}

h5.article_title{
    padding: 3px;
    margin: 3px;
    font-family:'Quicksand', sans-serif;
}

/* Navigation: Attempt 1 */
/* Add a black background color to the top navigation */
.nav {
    background-color: #ffffff;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #050404;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: red;
    color: white;
}
